@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
main {
  padding-top: 130px;
  min-height: 100vh;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  main {
    padding-top: 240px;
  }
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  z-index: 999;

  padding: 20px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  font-weight: 800;
}
.header__logo p {
  font-size: 35px;
  margin-left: 10px;
}
.header__logo img {
  display: block;
  height: 50px;
  width: 50px;
}
.header__middle {
  font-size: 20px;
  display: flex;
}
.header .fas {
  font-size: 25px;
}
.header__cart {
  padding: 8px;
  display: block;
  margin-right: 10px;
}
.header__favourites {
  padding: 8px;
  display: block;
}
.header__cart.active,
.header__favourites.active {
  border-bottom: 2px solid orangered;
}
.header__admin a {
  padding: 10px;
}
.header__admin a.active {
  display: block;
  border-radius: 20px;
  border: 2px solid orangered;
}

.header__status {
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
  padding: 5px;
}
.header__end {
  display: flex;
  align-items: center;
}
.header__admin {
}
.header__mode {
  margin-right: 10px;
}
.header__buttons {
  display: flex;
}
.header__btn {
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 10px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.header__btn:hover {
  border-radius: 0px;
}
@media (max-width: 768px) {
  .header__row {
    flex-direction: column;
  }
  .header__middle {
    margin-bottom: 10px;
  }
  .header {
    padding: 10px auto;
  }
}

/* / Header */

.main-page-main {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.link-light {
  color: #eee !important;
}
.text-light {
  color: #eee !important;
}
.container {
  max-width: 1770px;
}

.filter {
  background-color: #eee;
  max-width: 20vw;
  padding: 15px;
  border-radius: 20px;
  height: 100%;
  margin-right: 20px;
}
.filter__title {
  text-align: center;
}
.filter__body {
}
.filter .btn {
  width: 100%;
}

.product-block {
  display: flex;
  max-height: 100%;
  width: 50vw;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}
.product-block__img {
  display: block;
}
.product-block__img img {
  width: 300px;
  height: 300px;
}
.product-block__body {
  padding: 10px;
}
.product-block__title {
  color: #000;
  margin-bottom: 10px;
  display: block;
  font-size: 25px;
}
.product-block__title:hover {
  color: #000;
  text-decoration: underline;
}
.product-block__description {
  margin-bottom: 15px;
}
.product-block__price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-block__id {
  color: #000;
  margin-bottom: 10px;
  display: block;
}
.product-block__id:hover {
  text-decoration: underline;
  color: #000;
}
.product-block__category {
  margin-bottom: 10px;
}
.product-block__buttons {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1608px) {
  .main-page-main {
    flex-direction: column;
  }
  .filter {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }
  .product-block {
    width: 100%;
  }
  .input-group {
    margin-bottom: 10px !important;
  }
}
@media (max-width: 768px) {
  .product-block {
    flex-direction: column;
    text-align: center;
  }
  .product-block__buttons {
    justify-content: center;
  }
  .product-block__buttons .btn {
    margin-bottom: 10px;
    margin-right: 0 !important;
  }
  .product-block__img {
    margin: 0 auto;
  }
}
.cart-container {
  padding-bottom: 30px;
}
.cart-product {
  display: flex;
  padding: 5px;
  position: relative;
  margin-bottom: 15px;
}

.cart-product__img img {
  width: 300px;
  height: 300px;
}
.cart-product__body {
  padding: 10px;
}
.cart-product .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 768px) {
  .cart-product {
    flex-direction: column;
    align-items: center;
  }
  .cart-product .mb-5 {
    margin-bottom: 10px !important;
  }
}

.add-card {
  width: 90%;
}

.account-page {
  padding-bottom: 100px;
}

.product {
  background-color: #fff;
  position: relative;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding-top: 30px;
}

.product__img {
  width: 30%;
  height: 30%;
}
.product__body {
  position: relative;
}
.product__title {
}
.product__title h1 {
}
.product__button {
  color: #000;
  width: 100%;
  display: block;
  padding: 30px;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.product__button:hover {
  background-color: #ccc;
  color: #000;
}
.product__id {
  position: absolute;
  right: 3%;
  bottom: 10%;
}
.product__favourite {
  position: absolute;
  top: -25%;
  right: 25%;
  cursor: pointer;
  color: rgb(204, 204, 58);
  transition: all 0.3s ease;
  font-size: 30px;
}
.product__favourite:hover {
  color: rgb(138, 138, 26);
}
.page-item {
  cursor: pointer;
}
.breadcrumb {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.breadcrumb-item p {
  display: inline;
}

.table-img {
  position: relative;
}
.table-img:hover .table-img-preview {
  display: block;
}
.table-img-preview {
  position: absolute;
  z-index: 1;
  display: none;
}
.table-img img {
  width: 200px;
  height: 200px;
}
.add-product {
}
.add-product-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-add {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
  z-index: 1;
}

.edit-page {
}
.nav-link.active {
  border-bottom: 2px solid #d8e9a8;
}
#profile.active {
  outline: none;
  border: 2px solid #d8e9a8;
}

.login {
  display: flex;
  height: calc(100vh - 150px);
  justify-content: center;
  align-items: center;
}

.login form {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 50%;
}
.login form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.login form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.login form button {
  width: 100%;
  background-color: blue;
  color: white;
  border: 0;
  padding: 10px;
}

.login form input.error {
  border-color: red;
}

.error-text {
  font-size: 12px;
  margin-bottom: 5px;
  color: red;
}
